<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_Urbanismo_tactico"
        tools:targetApi="31">
        <service
            android:name=".Activities.Usuario.OdometerService"
            android:enabled="true"
            android:exported="false"></service>

        <activity
            android:name=".Activities.Usuario.OdometroActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBdTqlEjoquDG4pQm9WX8aAd5akLK7MeHA" />

        <activity
            android:name=".Activities.SugerenciasActivity"
            android:parentActivityName=".Activities.Usuario.InicioActivityUsuarios" />
        <activity
            android:name=".Activities.Admin.TerminadasActivityAdmin"
            android:exported="false"
            android:label="@string/title_activity_terminadas"
            android:parentActivityName=".Activities.Admin.InicioActivityAdmin"
            android:theme="@style/Theme.App_Urbanismo_tactico" />
        <activity
            android:name=".Activities.Usuario.InicioActivityUsuarios"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin.InicioActivityAdmin"
            android:exported="false" />
        <activity
            android:name=".Activities.RegistrarseActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Usuario.ReportarActivityUsuarios"
            android:exported="true"
            android:parentActivityName=".Activities.Usuario.InicioActivityUsuarios">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Usuario.ListaReportesActivityUsuarios"
            android:exported="true"
            android:parentActivityName=".Activities.Usuario.InicioActivityUsuarios">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Admin.ListaReportesActivityAdmin"
            android:exported="true"
            android:parentActivityName=".Activities.Admin.InicioActivityAdmin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>